body{
    background-color: rgb(236, 236, 243);
    height:100%;
    width: 100%;
}

.selectedBtn{
    transition: all 0.5s;
    width: 32%;
    height: 50px;
}
.menuBtn{
    background-color: #0f6131;
    position: relative;
    z-index:100;
}
.menu{
    background-color: rgba(7, 7, 61, 0.973);
    left: -300px;
    width: 300px;
    position: absolute;
    transition: left 0.5s;
    top: 0;
    height: 100%;
    z-index:99;
}
.fa{
    transition: all 0.2s;
}
.center-icon{
    position: absolute;
    right: 0;
    left: 0;
    top:0;
    margin: auto;
    bottom: 0;
}
button{
    background-color: #cc8f0c;
    color: rgb(211,205,255);
    border: none;
    font-size: 125%;
    font-weight: bold;
    letter-spacing: 2px;
}
.menuBg{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.71);
    z-index:-1;
    opacity: 0;
    height: 100%;
    width: 100%;
    transition: all 0.5s;
}
.pie{
    margin: auto;
    top: 10%;
    position: absolute;
    bottom:50%;
    left: 0;
    right:0;
}
.selection{
    position: absolute;
    left: 0;
    right:0;
    bottom: 10%;
    margin: auto;
}
.nextSelection{
    position: absolute;
    margin: auto;
    left: 0;
    visibility: hidden;
    right:0;
    transition: all 0.5s;
    bottom: 0;
    opacity: 0;
}
.totalMoneySpent{
    position: absolute;
    color: rgb(58, 6, 6);
    right:5%;
    font-weight: bold;
    opacity: 0;
    bottom: 25%;
    margin: auto;
    font-size: 300%;
    visibility: hidden;
}

.activity{
    position: relative;
    width: 90%;
    height: 90vh;
    left: 0;
    right:0;
    top: 10%;
    margin: auto;
}
.categoryBtn{
    width: 32%;
    height: 50px;
}
.nextSelectionBtn{
    width: 19%;
    height: 50px;
    margin-bottom: 3px;

}
.saveBtn{
    background-color: maroon;
    width: 100%;
    height: 50px;

}
.colorNames{
    position: fixed;
    right: 10px;
    top: 10px;
}
.color{
    position: fixed;
    right: 105px;
    width: 25px;
    height: 25px;
    text-align: center;
    margin-bottom: 20px;
    color: rgb(211,205,255);
    border: 1px solid rgb(236, 236, 243);
}
.dodgerblue{
    border-radius: 10px;
    background-color: dodgerblue;
}
.maroon{
       border-radius: 10px;
       background-color: maroon;
   }
.darkgreen{
    border-radius: 10px;
    background-color: darkgreen;
}
.yellow{
    border-radius: 10px;
    background-color: yellow;
}
.menuActivity{
    position: absolute;
    width: 100%;
    height: 90%;
    top: 10%;
}
.addMoneyForms{
    visibility: hidden;
    opacity:0;
    transition: all 0.5s;
}
.putMoneyAsideForms{
    visibility: hidden;
    opacity:0;
    transition: all 0.5s;
}
.getStarted{
    position: fixed;
    left: 5%;
    top: 7%;
    z-index:97;
    transition: all 0.5s;
}
.getStartedBg{
    position: fixed;
    background-color: rgba(211,205,255,0.8);
    z-index:96;
    width: 100%;
    height:100%;
    transition: all 0.5s;
}
.menuStactics{
    position: absolute;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    font-size: large;
    color: rgb(211,205,255);
    background-color: rgba(25, 26, 105, 0.84);
    bottom: 0;
}
.colorName{
    position: fixed;
    width: 100px;
    right: 5px;
}
.colorValue{
    position: fixed;
    width: auto;
    float: right;
    right: 130px;
}